*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background-color: #11101d;
    padding: 5px 15px;
}

/* logo */
.sidebar .logo_container .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}
.logo_container i {
    font-size: 25px;
    margin-right: 5px;
}
.logo_container .logo .logo_text {
    font-size: 20px;
    font-weight: bold;
}

/* toggle menu button */
.sidebar #btn {
    position: absolute;
    color: #fff;
    left: 90%;
    top: 5px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

/* nav list */
.sidebar ul {
    margin-top: 20px;
}

/* menu items */
.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    line-height: 50px;
    margin: 0 5px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.sidebar ul li a:hover {
    color: #11101d;
    background-color: #fff;
}
.sidebar ul li a i {
    height: 50px;
    line-height: 50px;
    min-width: 50px;
    text-align: center;
    border-radius: 10px;
}

/* user info */
.sidebar .user_container {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .user_container .user_profile {
    position: relative;
    padding: 10px 5px;
    height: 60px;
    background-color: #1d1b31;
}
.user_profile .user_details {
    display: flex;
    align-items: center;    
}
.user_profile .user_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 10px;
}
.user_profile .user_details .user_info {
    margin-left: 10px;
}
.user_profile .user_details .user_name {
    font-size: 15px;
    font-weight: 400;
}
.user_profile .user_details .user_role {
    font-size: 12px;
}
.user_profile #logout {
    position: absolute;
    left: 88%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 10px;
}

/* main container */
.main_container {
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
}
.main_container .main {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    color: #1d1b31;
}
